### Django ###
**/env/*
**/localPythonEnv/*
/.vscode
.vscode
*.log
*.pot
*.pyc
__pycache__/
#**/migrations/*
# **/.ipynb_checkpoints/*
#local_settings.py
#db.sqlite3
#/media/uploads
#/media/profile_pics
**/static/*
#/media/article_pics/articles

### Node and React ###
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
**/node_modules/*
**/.pnp
.pnp.js

# testing
**/coverage/*

# production
**/build/*

# misc
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Other
.DS_Store

# Postgres
/postgres/data/* 
/postgres/init_data/*

# notebook
/notebook/data/*

# backend - TODO: build it
/backend/django/*

# frontend - TODO: build it
/frontend/app/src/components
